<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid user-select-none">
        <div class="navbar-brand">
            <img src="/images/favicon.png" alt="" height="30" loading="lazy" draggable="false"/>
            <span class="ms-2 text-primary fw-bolder">Project - CPL</span>
        </div>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <i class="text-primary fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto">
                <li id="nav-home" class="nav-item mx-2">
                    <a class="nav-link" draggable="false" href="/">Projects</a>
                </li>
                <li id="nav-dashboard" class="nav-item mx-2">
                    <a class="nav-link" draggable="false" href="/dashboard">Dashboard</a>
                </li>
                <li id="nav-todo" class="nav-item mx-2">
                    <a class="nav-link" draggable="false" href="/todo">Todo List</a>
                </li>
                <li id="nav-notes" class="nav-item mx-2">
                    <a class="nav-link" draggable="false" href="/notes">Notes</a>
                </li>
            </ul>
        </div>
    </div>
</nav>