.firaCode {
    font-family: 'Fira Code', monospace !important;
}

.text-shadow {
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
}

.border-dark {
    border-color: #212121;
}

.cursor-pointer {
    cursor: pointer !important;
}

.float-right {
    float: right !important
}

/* floating button */

.btn-floating, [class*=btn-outline-].btn-floating {
    border-radius: 50% !important;
    padding: 0 !important;
    position: relative !important;
}

.btn-floating {
    width: calc(2.3125rem * 1.25) !important;
    height: calc(2.3125rem * 1.25) !important;
}

.btn-floating .fab, .btn-floating .far, .btn-floating .fas {
    width: calc(2.3125rem * 1.25) !important;
    line-height: calc(2.3125rem * 1.25) !important;
}

.btn-floating.btn-lg, .btn-group-lg > .btn-floating.btn {
    width: calc(calc(2.8125rem * 1.25) * 1.25) !important;
    height: calc(2.8125rem * 1.25) !important;
}

.btn-floating.btn-lg .fab, .btn-floating.btn-lg .far, .btn-floating.btn-lg .fas, .btn-group-lg > .btn-floating.btn .fab, .btn-group-lg > .btn-floating.btn .far, .btn-group-lg > .btn-floating.btn .fas {
    width: calc(2.8125rem * 1.25) !important;
    line-height: calc(2.8125rem * 1.25) !important;
}

.btn-floating.btn-sm, .btn-group-sm > .btn-floating.btn {
    width: calc(1.8125rem * 1.25) !important;
    height: calc(1.8125rem * 1.25) !important;
}

.btn-floating.btn-sm .fab, .btn-floating.btn-sm .far, .btn-floating.btn-sm .fas, .btn-group-sm > .btn-floating.btn .fab, .btn-group-sm > .btn-floating.btn .far, .btn-group-sm > .btn-floating.btn .fas {
    width: calc(1.8125rem * 1.25) !important;
    line-height: calc(1.8125rem * 1.25) !important;
}

[class*=btn-outline-].btn-floating .fab, [class*=btn-outline-].btn-floating .far, [class*=btn-outline-].btn-floating .fas {
    width: calc(2.0625rem * 1.25) !important;
    line-height: calc(2.0625rem * 1.25) !important;
}

.btn-group-lg > .btn[class*=btn-outline-].btn-floating .fab, .btn-group-lg > .btn[class*=btn-outline-].btn-floating .far, .btn-group-lg > .btn[class*=btn-outline-].btn-floating .fas, [class*=btn-outline-].btn-floating.btn-lg .fab, [class*=btn-outline-].btn-floating.btn-lg .far, [class*=btn-outline-].btn-floating.btn-lg .fas {
    width: calc(2.5625rem * 1.25) !important;
    line-height: calc(2.5625rem * 1.25) !important;
}

.btn-group-sm > .btn[class*=btn-outline-].btn-floating .fab, .btn-group-sm > .btn[class*=btn-outline-].btn-floating .far, .btn-group-sm > .btn[class*=btn-outline-].btn-floating .fas, [class*=btn-outline-].btn-floating.btn-sm .fab, [class*=btn-outline-].btn-floating.btn-sm .far, [class*=btn-outline-].btn-floating.btn-sm .fas {
    width: calc(1.5625rem * 1.25) !important;
    line-height: calc(1.5625rem * 1.25) !important;
}
