.br-0 {
  border-radius: 0% !important;
}

.br-2\.5 {
  border-radius: 2.5% !important;
}

.br-5 {
  border-radius: 5% !important;
}

.br-7\.5 {
  border-radius: 7.5% !important;
}

.br-10 {
  border-radius: 10% !important;
}

.br-12\.5 {
  border-radius: 12.5% !important;
}

.br-15 {
  border-radius: 15% !important;
}

.br-17\.5 {
  border-radius: 17.5% !important;
}

.br-20 {
  border-radius: 20% !important;
}

.br-22\.5 {
  border-radius: 22.5% !important;
}

.br-25 {
  border-radius: 25% !important;
}

.br-27\.5 {
  border-radius: 27.5% !important;
}

.br-30 {
  border-radius: 30% !important;
}

.br-32\.5 {
  border-radius: 32.5% !important;
}

.br-35 {
  border-radius: 35% !important;
}

.br-37\.5 {
  border-radius: 37.5% !important;
}

.br-40 {
  border-radius: 40% !important;
}

.br-42\.5 {
  border-radius: 42.5% !important;
}

.br-45 {
  border-radius: 45% !important;
}

.br-47\.5 {
  border-radius: 47.5% !important;
}

.br-50 {
  border-radius: 50% !important;
}

.br-52\.5 {
  border-radius: 52.5% !important;
}

.br-55 {
  border-radius: 55% !important;
}

.br-57\.5 {
  border-radius: 57.5% !important;
}

.br-60 {
  border-radius: 60% !important;
}

.br-62\.5 {
  border-radius: 62.5% !important;
}

.br-65 {
  border-radius: 65% !important;
}

.br-67\.5 {
  border-radius: 67.5% !important;
}

.br-70 {
  border-radius: 70% !important;
}

.br-72\.5 {
  border-radius: 72.5% !important;
}

.br-75 {
  border-radius: 75% !important;
}

.br-77\.5 {
  border-radius: 77.5% !important;
}

.br-80 {
  border-radius: 80% !important;
}

.br-82\.5 {
  border-radius: 82.5% !important;
}

.br-85 {
  border-radius: 85% !important;
}

.br-87\.5 {
  border-radius: 87.5% !important;
}

.br-90 {
  border-radius: 90% !important;
}

.br-92\.5 {
  border-radius: 92.5% !important;
}

.br-95 {
  border-radius: 95% !important;
}

.br-97\.5 {
  border-radius: 97.5% !important;
}

.br-100 {
  border-radius: 100% !important;
}

.wh-0 {
  width: 0rem !important;
  height: 0rem !important;
  max-width: 0rem !important;
  max-height: 0rem !important;
}

.wh-1 {
  width: 1rem !important;
  height: 1rem !important;
  max-width: 1rem !important;
  max-height: 1rem !important;
}

.wh-2 {
  width: 2rem !important;
  height: 2rem !important;
  max-width: 2rem !important;
  max-height: 2rem !important;
}

.wh-3 {
  width: 3rem !important;
  height: 3rem !important;
  max-width: 3rem !important;
  max-height: 3rem !important;
}

.wh-4 {
  width: 4rem !important;
  height: 4rem !important;
  max-width: 4rem !important;
  max-height: 4rem !important;
}

.wh-5 {
  width: 5rem !important;
  height: 5rem !important;
  max-width: 5rem !important;
  max-height: 5rem !important;
}

.wh-6 {
  width: 6rem !important;
  height: 6rem !important;
  max-width: 6rem !important;
  max-height: 6rem !important;
}

.wh-7 {
  width: 7rem !important;
  height: 7rem !important;
  max-width: 7rem !important;
  max-height: 7rem !important;
}

.wh-8 {
  width: 8rem !important;
  height: 8rem !important;
  max-width: 8rem !important;
  max-height: 8rem !important;
}

.wh-9 {
  width: 9rem !important;
  height: 9rem !important;
  max-width: 9rem !important;
  max-height: 9rem !important;
}

.wh-10 {
  width: 10rem !important;
  height: 10rem !important;
  max-width: 10rem !important;
  max-height: 10rem !important;
}

.vh-0 {
  height: 0vh !important;
  max-height: 0vh !important;
}

.vh-2\.5 {
  height: 2.5vh !important;
  max-height: 2.5vh !important;
}

.vh-5 {
  height: 5vh !important;
  max-height: 5vh !important;
}

.vh-7\.5 {
  height: 7.5vh !important;
  max-height: 7.5vh !important;
}

.vh-10 {
  height: 10vh !important;
  max-height: 10vh !important;
}

.vh-12\.5 {
  height: 12.5vh !important;
  max-height: 12.5vh !important;
}

.vh-15 {
  height: 15vh !important;
  max-height: 15vh !important;
}

.vh-17\.5 {
  height: 17.5vh !important;
  max-height: 17.5vh !important;
}

.vh-20 {
  height: 20vh !important;
  max-height: 20vh !important;
}

.vh-22\.5 {
  height: 22.5vh !important;
  max-height: 22.5vh !important;
}

.vh-25 {
  height: 25vh !important;
  max-height: 25vh !important;
}

.vh-27\.5 {
  height: 27.5vh !important;
  max-height: 27.5vh !important;
}

.vh-30 {
  height: 30vh !important;
  max-height: 30vh !important;
}

.vh-32\.5 {
  height: 32.5vh !important;
  max-height: 32.5vh !important;
}

.vh-35 {
  height: 35vh !important;
  max-height: 35vh !important;
}

.vh-37\.5 {
  height: 37.5vh !important;
  max-height: 37.5vh !important;
}

.vh-40 {
  height: 40vh !important;
  max-height: 40vh !important;
}

.vh-42\.5 {
  height: 42.5vh !important;
  max-height: 42.5vh !important;
}

.vh-45 {
  height: 45vh !important;
  max-height: 45vh !important;
}

.vh-47\.5 {
  height: 47.5vh !important;
  max-height: 47.5vh !important;
}

.vh-50 {
  height: 50vh !important;
  max-height: 50vh !important;
}

.vh-52\.5 {
  height: 52.5vh !important;
  max-height: 52.5vh !important;
}

.vh-55 {
  height: 55vh !important;
  max-height: 55vh !important;
}

.vh-57\.5 {
  height: 57.5vh !important;
  max-height: 57.5vh !important;
}

.vh-60 {
  height: 60vh !important;
  max-height: 60vh !important;
}

.vh-62\.5 {
  height: 62.5vh !important;
  max-height: 62.5vh !important;
}

.vh-65 {
  height: 65vh !important;
  max-height: 65vh !important;
}

.vh-67\.5 {
  height: 67.5vh !important;
  max-height: 67.5vh !important;
}

.vh-70 {
  height: 70vh !important;
  max-height: 70vh !important;
}

.vh-72\.5 {
  height: 72.5vh !important;
  max-height: 72.5vh !important;
}

.vh-75 {
  height: 75vh !important;
  max-height: 75vh !important;
}

.vh-77\.5 {
  height: 77.5vh !important;
  max-height: 77.5vh !important;
}

.vh-80 {
  height: 80vh !important;
  max-height: 80vh !important;
}

.vh-82\.5 {
  height: 82.5vh !important;
  max-height: 82.5vh !important;
}

.vh-85 {
  height: 85vh !important;
  max-height: 85vh !important;
}

.vh-87\.5 {
  height: 87.5vh !important;
  max-height: 87.5vh !important;
}

.vh-90 {
  height: 90vh !important;
  max-height: 90vh !important;
}

.vh-92\.5 {
  height: 92.5vh !important;
  max-height: 92.5vh !important;
}

.vh-95 {
  height: 95vh !important;
  max-height: 95vh !important;
}

.vh-97\.5 {
  height: 97.5vh !important;
  max-height: 97.5vh !important;
}

.noScrollbar {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.noScrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.firaCode {
  font-family: "Fira Code", monospace !important;
}

.text-shadow {
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
}

.border-dark {
  border-color: #212121;
}

.cursor-pointer {
  cursor: pointer !important;
}

.float-right {
  float: right !important;
}

/*# sourceMappingURL=style.css.map */
