#todoEditor-container {
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  transition: background-color 150ms ease-in-out, right 250ms ease-in-out;
}
#todoEditor-container.yeet {
  right: -100vw !important;
}
#todoEditor-container:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

#todoEditor {
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 17;
  width: calc(100vw - 12rem);
  height: calc(100vh - 8rem);
  background: #212121;
  cursor: default;
  border: 1px solid #161b1d;
  border-radius: 1rem;
  transition: right 250ms ease-in-out;
}
#todoEditor.yeet {
  right: -100vw !important;
}
#todoEditor #closeEditor {
  right: 0;
  top: 0;
  margin-right: 1rem;
  margin-top: 1rem;
  color: white;
  background-color: #ffc108;
  padding: 0.6rem;
  border-radius: 0.25rem;
  cursor: pointer;
  box-sizing: border-box;
  width: 3rem;
  height: 3rem;
  transition: width 100ms linear, height 100ms linear, all 150ms ease-in-out;
}
#todoEditor #closeEditor:hover {
  background-color: #f8ba00;
  box-shadow: 0.1rem 0.1rem 0.6rem #553f00;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 0.1rem;
  margin-right: 1.1rem;
  margin-top: 1.1rem;
}
#todoEditor #closeEditor:active {
  background-color: #fa291e;
  box-shadow: 0.1rem 0.1rem 0.6rem #886500;
}
#todoEditor #closeEditor:focus, #todoEditor #closeEditor:focus-within, #todoEditor #closeEditor:focus-visible {
  box-shadow: 0.1rem 0.1rem 0.6rem #886500;
}
#todoEditor .form-border, #todoEditor #todoEditor-descriptionInput-rendered, #todoEditor #todoEditor-descriptionInput, #todoEditor #todoEditor-titleInput-rendered, #todoEditor #todoEditor-titleInput {
  border: 2px dashed rgba(255, 193, 8, 0.6);
  resize: none;
  transition: border 150ms ease-in-out;
}
#todoEditor .form-border:hover, #todoEditor #todoEditor-descriptionInput-rendered:hover, #todoEditor #todoEditor-descriptionInput:hover, #todoEditor #todoEditor-titleInput-rendered:hover, #todoEditor #todoEditor-titleInput:hover {
  border-color: #ffc108;
}
#todoEditor .form-border:focus, #todoEditor #todoEditor-descriptionInput-rendered:focus, #todoEditor #todoEditor-descriptionInput:focus, #todoEditor #todoEditor-titleInput-rendered:focus, #todoEditor #todoEditor-titleInput:focus {
  border-color: #ffc108;
  border-style: solid;
  outline: none;
}
#todoEditor #todoEditor-titleInput {
  position: absolute;
  top: 5rem;
  left: 1rem;
  display: block;
  border-style: dashed;
  box-sizing: border-box;
  margin-bottom: 1rem;
  height: 3.5rem;
  padding: 2rem 1rem;
  font-size: 2rem;
  width: calc(100% - 2rem);
  outline: none;
  transition: border 150ms ease-in-out;
}
#todoEditor #todoEditor-titleInput:hover, #todoEditor #todoEditor-titleInput:focus {
  border-style: dashed;
  border-color: #ffc108;
}
#todoEditor #todoEditor-titleInput-rendered {
  position: absolute;
  top: 5rem;
  left: 1rem;
  width: calc(100% - 2rem);
  padding: 0.5rem 1rem 3.5rem;
  background-color: transparent !important;
  display: block;
  border-style: solid !important;
  box-sizing: border-box;
  margin-bottom: 1rem;
  height: 3.5rem;
  font-size: 2rem;
  user-select: none;
  cursor: pointer;
  overflow-x: auto;
  transition: border 150ms ease-in-out;
}
#todoEditor #todoEditor-descriptionInput {
  position: absolute;
  top: 10rem;
  left: 1rem;
  display: block;
  border-style: dashed;
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1.25rem;
  width: calc(100% - 2rem);
  height: calc(100% - 11rem);
  resize: none;
  transition: border 150ms ease-in-out;
}
#todoEditor #todoEditor-descriptionInput:hover, #todoEditor #todoEditor-descriptionInput:focus {
  border-style: dashed;
  border-color: #ffc108;
}
#todoEditor #todoEditor-descriptionInput-rendered {
  position: absolute;
  top: 10rem;
  left: 1rem;
  display: block;
  border-style: solid !important;
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1.25rem;
  width: calc(100% - 2rem);
  height: calc(100% - 11rem);
  resize: none;
  user-select: none;
  cursor: pointer;
  transition: border 150ms ease-in-out;
  overflow: auto;
}
#todoEditor #todoEditor-descriptionInput-rendered:hover, #todoEditor #todoEditor-descriptionInput-rendered:focus {
  border-style: solid;
  border-color: #ffc108;
}

.todo-link {
  cursor: pointer;
  transition: color 125ms ease-in-out;
}
.todo-link:hover {
  color: #ffc108 !important;
}

/*# sourceMappingURL=todo.css.map */
