<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body class="bg-dark-lighter">
<% include ../partials/navbar-home.ejs %>
<div class="container">
    <form class="row mt-5" id="add-project-form" method="post">
        <div class="col-10 pr-2">
            <div class="form-floating bg-dark">
                <input type="text" class="form-control bg-dark text-light border-primary" id="projectName"
                       name="projectName" placeholder="Project name">
                <label for="projectName" class="text-light">Project name</label>
            </div>
        </div>
        <div class="col-2">
            <button id="submit-button" type="submit" class="btn btn-floating btn-primary" title="Create">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </form>
    <section class="mt-5">
        <h1 class="title text-light">Projects</h1>
        <div id="projects">
        </div>
    </section>
</div>

<% include ../partials/footer.ejs %>

<script>
    let activeTimers = {};
    let breakTimers = {};
    $(() => {
        refreshProjects();
        setInterval(() => {
            updateTimers();
        }, 250);
    });
    $('#add-project-form').on('submit', (evt) => {
        evt.preventDefault();
        let formData = $('#add-project-form').serialize();
        $.ajax({
            url: '/project/create',
            type: 'post',
            data: formData,
            success: () => {
                $('#add-project-form').trigger('reset');
                refreshProjects();
            }
        });
    });

    function refreshProjects() {
        $.ajax({
            url: '/project/get',
            type: 'get',
            success: data => {
                onLoadProjects(data);
            },
            error: err => {
                console.error(err);
            }
        })
    }

    function onLoadProjects(data) {
        // Reset
        $('#projects').html("");
        activeTimers = {};
        breakTimers = {};

        data.projects.forEach(project => {
            let isActive = data.activeProjects.hasOwnProperty(project.id);
            let isBreakActive = data.activeBreaks.hasOwnProperty(project.id);
            let titleClasses = isActive ? isBreakActive ? 'fst-italic text-secondary' : 'text-primary' : 'grey-text';
            let activeButtonClasses = `btn ${isActive ? 'btn-primary' : 'btn-outline-primary'}`;
            let breakButtonClasses = `btn ${isBreakActive ? 'btn' : 'btn-outline'}-${isActive ? "secondary" : "blue-grey disabled"}`;

            let activeTimer = isActive ? `<span id="activeTimer-${project.id}" class="fw-light text-primary">Active: 00:00:00</span>` : "";
            let breakTimer = isBreakActive ? `<span id="breakTimer-${project.id}" class="fw-light text-secondary">On break: 00:00:00</span>` : "";
            let timers = isActive||isBreakActive ? `<span class="text-light fst-normal float-right">(${activeTimer}${isActive&&isBreakActive?',&nbsp;':''}${breakTimer})</span>` : '';
            $('#projects').append(`
                    <div class="project-item mb-2 row" id="project-${project.id}" data-project-id="${project.id}" data-project-active="${isActive}" data-break-active="${isBreakActive}">
                        <span class="h4 col-7 project-title align-self-center text-shadow ${titleClasses}">${project.name}
                            ${timers}
                        </span>
                        <button type="button" class="col-2 setActiveInactive ${activeButtonClasses}" title="Set ${isActive ? "inactive" : "active"}">Set ${isActive ? "inactive" : "active"}</button>
                        <button type="button" class="col-2 startEndBreak ${breakButtonClasses}" title="${isBreakActive ? "End" : "Start"} break">${isBreakActive ? "End" : "Start"} break</button>
                        <button type="button" class="col-1 btn btn-primary btn-floating removeProject float-right align-self-end" title="Remove">
                            <i class="fa fa-trash-alt"></i>
                        </button>
                    </div>
                    `);

            if(isActive) activeTimers[project.id] = data.activeProjects[project.id].start;
            if(isBreakActive) breakTimers[project.id] = data.activeBreaks[project.id].start;
        });
        $('.removeProject').on('click', (event) => {
            let projectId = $(event.currentTarget).parent().data('project-id');
            //console.log(projectId);
            $.ajax({
                url: '/project/remove',
                type: 'post',
                data: {id: projectId},
                success: () => {
                    refreshProjects();
                }
            });
        });

        $('.setActiveInactive').on('click', event => {
            let parent = $(event.currentTarget).parent();
            let projectId = parent.data("project-id");
            $.ajax({
                url: '/project/change-active',
                type: 'post',
                data: {id: projectId},
                success: () => {
                    refreshProjects();
                }
            });
            console.log($(event.currentTarget).html())
        });
        $('.startEndBreak').on('click', event => {
            let parent = $(event.currentTarget).parent();
            let projectId = parent.data("project-id");
            $.ajax({
                url: '/project/change-break',
                type: 'post',
                data: {id: projectId},
                success: () => {
                    refreshProjects();
                }
            });
        });
        updateTimers();
    }

    function updateTimers() {
        let timezoneOffset = new Date().getTimezoneOffset() * 60 * 1000;
        let currentTime = Date.now() + timezoneOffset;
        for(let [key, value] of Object.entries(activeTimers)) {
            let displayedValue = value - value % 1000;
            let difference = new Date(currentTime - displayedValue);
            let passed = difference.toTimeString().split(' ')[0];
            $(`#activeTimer-${key}`).text(`Active: ${passed}`)
        }
        for(let [key, value] of Object.entries(breakTimers)) {
            let displayedValue = value - value % 1000;
            let difference = new Date(currentTime-displayedValue);
            let passed = difference.toTimeString().split(' ')[0];
            $(`#breakTimer-${key}`).text(`On break: ${passed}`)
        }
    }
</script>
</body>
</html>
