<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body>
<% include ../partials/navbar.ejs %>
<div class="container">
    <form class="row w-50  mt-5" id="add-project-form" method="post">
        <div class="col-10 pr-2">
            <div class="form-outline">
                <input type="text" id="projectName" name="projectName" class="form-control"/>
                <label class="form-label" for="projectName">Project Name</label>
            </div>
        </div>
        <div class="col-2 pl-2">
            <button id="submit-button" type="submit" class="btn btn-primary">+</button>
        </div>
    </form>
    <section class="mt-5">
        <h1 class="title">Projects</h1>
        <div id="projects">
        </div>
    </section>
</div>

<% include ../partials/footer.ejs %>

<script>
    $(() => {
        refreshProjects();
    });
    $('#add-project-form').on('submit', (evt) => {
        evt.preventDefault();
        let formData = $('#add-project-form').serialize();
        $.ajax({
            url: '/project/create',
            type: 'post',
            data: formData,
            success: () => {
                $('#add-project-form').trigger('reset');
                refreshProjects();
            }
        });
    });

    function refreshProjects() {
        $('#projects').html("");
        $.ajax({
            url: '/project/get',
            type: 'get',
            success: data => {
                data.projects.forEach(project => {
                    let isActive = data.activeProjects.hasOwnProperty(project.id);
                    let isBreakActive = data.activeBreaks.hasOwnProperty(project.id);
                    $('#projects').append(`
                    <div class="project-item mb-2 row" data-project-id="${project.id}" data-project-active="${isActive}" data-break-active="${isBreakActive}">
                        <span class="h4 col-2 project-title align-self-center ${isActive ? isBreakActive ? 'font-italic dark-grey-text' : 'text-success' : 'dark-grey-text'}">${project.name}</span>
                        <button type="button" class="col-2 btn btn-outline-success setActiveInactive" title="Set ${isActive ? "inactive" : "active"}">Set ${isActive ? "inactive" : "active"}</button>
                        <button type="button" class="col-2 btn btn-outline-${isActive ? "default" : "grey"} startEndBreak${!isActive ? " disabled" : ""}" title="${isBreakActive ? "End" : "Start"} break">${isBreakActive ? "End" : "Start"} break</button>
                        <button type="button" class="col-1 btn btn-primary btn-floating removeProject float-right align-self-end" title="Remove">
                            <i class="fa fa-trash-alt"></i>
                        </button>
                    </div>
                    `);
                });
                $('.removeProject').on('click', (event) => {
                    let projectId = $(event.currentTarget).parent().data('project-id');
                    //console.log(projectId);
                    $.ajax({
                        url: '/project/remove',
                        type: 'post',
                        data: {id: projectId},
                        success: () => {
                            refreshProjects();
                        }
                    });
                });

                $('.setActiveInactive').on('click', event => {
                    let parent = $(event.currentTarget).parent();
                    let projectId = parent.data("project-id");
                        $.ajax({
                        url: '/project/change-active',
                        type: 'post',
                        data: {id: projectId},
                        success: () => {
                            refreshProjects();
                        }
                    });
                    console.log($(event.currentTarget).html())
                });
                $('.startEndBreak').on('click', event => {
                    let parent = $(event.currentTarget).parent();
                    let projectId = parent.data("project-id");
                    $.ajax({
                        url: '/project/change-break',
                        type: 'post',
                        data: {id: projectId},
                        success: () => {
                            refreshProjects();
                        }
                    });
                });
            },
            error: err => {
                console.error(err);
            }
        })
    }
</script>
</body>
</html>
