<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.5.0/build/styles/atom-one-dark.min.css">
    <link rel="stylesheet" href="/stylesheets/todo.css">
</head>
<body class="bg-dark-blue">
<% include ../partials/navbar.ejs %>

<div class="container">
    <div class="row text-light mt-3 align-items-center">
        <div class="col-6 col-lg-3 text-end">Selected project:</div>
        <div class="col-6 col-lg-2 fw-bold text-primary" id="selectedProject"></div>
        <div class="mt-3 mt-lg-0 col-12 col-lg-7">
            <select aria-label="Select project" class="form-select bg-dark text-light border-primary"
                    name="selectProject" id="selectProject"></select>
        </div>
    </div>

    <form class="flex-row-reverse row mt-2" id="add-todo-item-form" method="post">
        <div class="col-lg-7 col-12 mt-1">
            <div class="bg-dark">
                <input type="text" class="form-control bg-dark text-light border-primary" id="todoItem"
                       name="todoItem" placeholder="Add todo entry">
            </div>
        </div>
    </form>
    <div id="todoEditor-container" class="yeet" title="Close"></div>
    <div id="todoEditor" class="yeet">
        <div class="fs-2 text-white ms-3 mt-2">Edit Todo</div>
        <button id="closeEditor" class="position-absolute btn align-content-center"><i class="fa fa-times"></i>
        </button>

        <div class="px-4 mt-4 row justify-content-start">
            <div class="col-12">
                <input id="todoEditor-titleInput" aria-label="Todo title" class="bg-dark text-light d-none" type="text"
                       placeholder="Title" value="Title">
                <div id="todoEditor-titleInput-rendered" class="bg-dark text-light noScrollbar">Title</div>
            </div>
            <div class="col-12 vh-55">
                <textarea id="todoEditor-descriptionInput" aria-label="Todo description" class="bg-dark text-light d-none"
                          type="text" placeholder="Description">Description</textarea>
                <div id="todoEditor-descriptionInput-rendered" class="bg-dark text-light">Description</div>
            </div>
        </div>
    </div>
    <div id="todosContainer" class="row mt-5"></div>
</div>

<% include ../partials/footer.ejs %>

<script src="https://cdn.jsdelivr.net/npm/dompurify@2/dist/purify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.5.0/build/highlight.min.js"></script>
<script src="/javascripts/utils.js"></script>
<script>
    marked.setOptions({
        highlight: (code, language) => {
            const validLanguage = hljs.getLanguage(language) ? language : 'plaintext';
            if(hljs.getLanguage(language)) {
                return `<div class="code-block">${hljs.highlight(validLanguage, code).value}</div>`;
            }
            return `<div class="code-block">${hljs.highlightAuto(code).value}</div>`;
        },
        smartLists: true,
        xhtml: true
    });

    hljs.initHighlighting();

    let projectMap = {};
    let activeProject = undefined;
    let selectInput = $('#selectProject');
    let selectedProjectText = $('#selectedProject');

    let todoMap = {};

    let todoEditor_titleInput = $('#todoEditor-titleInput');
    let todoEditor_titleInput_rendered = $('#todoEditor-titleInput-rendered');
    let todoEditor_descriptionInput = $('#todoEditor-descriptionInput');
    let todoEditor_descriptionInput_rendered = $('#todoEditor-descriptionInput-rendered');
    let todoEditor_todoId = undefined;
    let todoEditor_titleOld = undefined;
    let todoEditor_descriptionOld = undefined;
    let todoEditor_keyFocusOut = false;

    $(() => {
        $('#closeEditor, #todoEditor-container').on('click', () => {
            $('#todoEditor').addClass('yeet');
            $('#todoEditor-container').addClass('yeet');
        });

        todoEditor_titleInput_rendered.on('dblclick', () => {
            todoEditor_titleInput_rendered.addClass('d-none');
            todoEditor_titleInput.removeClass('d-none');
            todoEditor_titleOld = unescape(todoMap[todoEditor_todoId].text);
            todoEditor_titleInput.val(todoEditor_titleOld);
            todoEditor_titleInput.select();
        });

        todoEditor_titleInput.on('focusout', event => {
            console.log("FOCUS OUT");
            if(todoEditor_keyFocusOut) {
                todoEditor_keyFocusOut = false;
                return;
            }
            let newVal = todoEditor_titleInput.val();
            todoEditor_titleInput_rendered.removeClass('d-none');
            todoEditor_titleInput.addClass('d-none');
            if(newVal !== todoEditor_titleOld) todoEditor_titleInput_rendered.html(renderMarkdown(newVal, true));
            saveTodoChanges();
        });
        todoEditor_titleInput.on('keyup', event => {
            const ENTER = "Enter";
            const ESC = "Escape";
            if(event.key === ENTER) {
                console.log("ENTER KEY");
                let newVal = todoEditor_titleInput.val();
                todoEditor_titleInput_rendered.removeClass('d-none');
                todoEditor_titleInput.addClass('d-none');
                if(newVal !== todoEditor_titleOld) todoEditor_titleInput_rendered.html(renderMarkdown(newVal, true));
                todoEditor_keyFocusOut = true;
                saveTodoChanges();
            } else if(event.key === ESC) {
                console.log("ESCAPE KEY");
                todoEditor_titleInput_rendered.removeClass('d-none');
                todoEditor_titleInput.addClass('d-none');
                todoEditor_keyFocusOut = true;
            }
        });
        todoEditor_descriptionInput_rendered.on('dblclick', () => {
            todoEditor_descriptionInput_rendered.addClass('d-none');
            todoEditor_descriptionInput.removeClass('d-none');
            todoEditor_descriptionOld = unescape(todoMap[todoEditor_todoId].description);
            todoEditor_descriptionInput.val(todoEditor_descriptionOld);
            todoEditor_descriptionInput.select();
        });
        todoEditor_descriptionInput.on('focusout', event => {
            console.log("FOCUS OUT");
            if(todoEditor_keyFocusOut) {
                todoEditor_keyFocusOut = false;
                return;
            }
            let newVal = todoEditor_descriptionInput.val();
            todoEditor_descriptionInput_rendered.removeClass('d-none');
            todoEditor_descriptionInput.addClass('d-none');
            if(newVal !== todoEditor_descriptionOld) todoEditor_descriptionInput_rendered.html(renderMarkdown(newVal));
            saveTodoChanges();
        });
        todoEditor_descriptionInput.on('keyup', event => {
            const ENTER = "Enter";
            const ESC = "Escape";
            if(event.key === ENTER && event.ctrlKey) {
                console.log("ENTER KEY");
                let newVal = todoEditor_descriptionInput.val().trimEnd();
                todoEditor_descriptionInput_rendered.removeClass('d-none');
                todoEditor_descriptionInput.addClass('d-none');
                if(newVal !== todoEditor_descriptionOld) todoEditor_descriptionInput_rendered.html(renderMarkdown(newVal));
                todoEditor_keyFocusOut = true;
                saveTodoChanges();
            } else if(event.key === ESC) {
                console.log("ESCAPE KEY");
                todoEditor_descriptionInput_rendered.removeClass('d-none');
                todoEditor_descriptionInput.addClass('d-none');
                todoEditor_keyFocusOut = true;
            }
        });

        $('#add-todo-item-form').on('submit', (evt) => {
            evt.preventDefault();
            let formData = $('#add-todo-item-form').serialize();
            $.ajax({
                url: '/todo/add-todo',
                type: 'post',
                data: formData,
                success: () => {
                    $('#add-todo-item-form').trigger('reset');
                    refreshTodos();
                }
            });
        });

        refreshProjects(() => {
            refreshTodos({makeDirty: true});
        });


        selectInput.on('change', function () {
            activeProject = this.value;
            $.ajax({
                url: '/project/select-project',
                type: 'put',
                data: {id: this.value},
                success: () => {
                    refreshProjects(() => {
                        refreshTodos({makeDirty: true});
                    });
                }
            });
        });
    });

    function refreshProjects(callback) {
        $.ajax({
            url: '/project/get',
            type: 'get',
            success: data => {
                onLoadProjects(data, callback);
            },
            error: err => {
                console.error(err);
            }
        });
    }

    function refreshTodos(options = {}, callback) {
        let todosContainer = $('#todosContainer');

        if (activeProject === undefined) {
            todosContainer.html(`<span class="h2 col-12 text-center text-secondary">No project selected</span>`)
        } else {
            $.ajax({
                url: '/todo/get-todos',
                type: 'get',
                data: options,
                success: data => {
                    onLoadTodos(data, callback)
                },
                error: err => {
                    console.error(err);
                }
            });
        }
    }

    function onLoadTodos(data, callback) {
        let todosContainer = $('#todosContainer');
        todosContainer.html("");
        todoMap = {};

        let todos = data.todos;
        let notCompleted = '';
        todos.forEach(todo => {
            todoMap[todo.id] = todo;
            let isDone = todo.done;
            if (isDone == true) return;
            let priority = parseInt(todo.priority);
            let type = parseInt(todo.type);
            notCompleted += `
<div class="justify-content-around row mb-md-2 mb-4 pb-3 pb-md-0" id="todo-${todo.id}" data-todo-id="${todo.id}" data-todo-priority="${priority}" data-todo-type="${type}" data-todo-done="${isDone}">
<div class="d-flex flex-row flex-grow-1 justify-content-center align-self-center col-12 col-md-2">
<button type="button" class="btn btn-floating br-0 shadow-none bg-transparent changePriority" title="${priority === 0 ? 'Priority: Low' : priority === 1 ? 'Priority: Normal' : 'Priority: High'}">
<i class="fas ${priority === 0 ? 'fa-caret-down fa-2x text-success' : priority === 1 ? 'fa-window-minimize fa-lg text-grey' : 'fa-caret-up fa-2x text-danger'}" style="${priority === 1 ? 'transform: translateY(-0.4rem)' : ''}"></i></button>
<button type="button" class="btn btn-floating br-0 shadow-none bg-transparent changeType" title="${type === 0 ? 'Feature' : 'Bug'}">
<i class="${type === 0 ? 'far fa-lightbulb text-warning' : 'fas fa-bug text-secondary'}"></i></button>
<button type="button" class="btn btn-success btn-floating shadow-1-strong changeTodo" title="Mark as completed">
<i class="fas fa-check"></i></button>
</div>
<div class="flex-grow-1 col-12 col-md-9 align-self-center">
<div class="fs-5 text-center text-md-start text-shadow text-grey"><i class="fas fa-pen text-white p-2 me-2 todo-link"></i>${renderMarkdown(unescape(todo.text), true)}</div>
</div>
<button type="button" class="align-self-center col-12 col-md-1 mx-1 mt-2 mt-md-0 btn btn-primary btn-floating removeTodo" title="Remove">
<i class="fas fa-trash-alt"></i></button>
</div>`;
        });

        let completed = '';
        todos.forEach(todo => {
            let isDone = todo.done;
            if (isDone == false) return;
            let priority = parseInt(todo.priority);
            let type = parseInt(todo.type);
            completed += `
<div class="justify-content-around row mb-md-2 mb-4 pb-3 pb-md-0" id="todo-${todo.id}" data-todo-id="${todo.id}" data-todo-priority="${priority}" data-todo-type="${type}" data-todo-done="${isDone}">
<div class="d-flex flex-row flex-grow-1 justify-content-center align-self-center col-12 col-md-2">
<button type="button" class="btn btn-floating br-0 shadow-none bg-transparent changePriority" title="${priority === 0 ? 'Priority: Low' : priority === 1 ? 'Priority: Normal' : 'Priority: High'}">
<i class="fas ${priority === 0 ? 'fa-caret-down fa-2x text-success' : priority === 1 ? 'fa-window-minimize fa-lg text-grey' : 'fa-caret-up fa-2x text-danger'}" style="${priority === 1 ? 'transform: translateY(-0.4rem)' : ''}"></i></button>
<button type="button" class="btn btn-floating br-0 shadow-none bg-transparent changeType" title="${type === 0 ? 'Feature' : 'Bug'}">
<i class="${type === 0 ? 'far fa-lightbulb text-warning' : 'fas fa-bug text-secondary'}"></i></button>
<button type="button" class="btn btn-secondary btn-floating changeTodo" title="Mark not as completed">
<i class="fas fa-times"></i></button>
</div>
<div class="flex-grow-1 col-12 col-md-9 align-self-center">
<div class="fs-5 text-center text-md-start text-shadow text-grey"><i class="fas fa-pen text-white p-2 me-2 todo-link"></i>${renderMarkdown(unescape(todo.text), true)}</div>
</div>
<button type="button" class="align-self-center col-12 col-md-1 mx-1 mt-2 mt-md-0 btn btn-primary btn-floating removeTodo" title="Remove">
<i class="fas fa-trash-alt"></i></button>
</div>`;
        });
        if (notCompleted != '') notCompleted = `<h2 class="text-center text-primary mb-2">Not Completed</h2><hr class="text-white mb-2"/><div class="noScrollbar" style="max-height: ${completed == '' ? -1 : 72}vh !important; overflow-y: auto">` + notCompleted + "</div>";
        if (completed != '') completed = `<h2 class="text-center text-primary${notCompleted != '' ? ' mt-3' : ''}">Completed</h2><hr class="text-white mb-2"/><div class="noScrollbar" style="max-height: ${notCompleted == '' ? -1 : 72}vh !important; overflow-y: auto">` + completed + "</div>";
        let todoEntries = notCompleted + completed;

        todosContainer.html(todoEntries);

        $('.removeTodo').on('click', (event) => {
            let todoId = $(event.currentTarget).parent().data('todo-id');
            $.ajax({
                url: '/todo/remove-todo',
                type: 'delete',
                data: {id: todoId},
                success: () => {
                    refreshTodos();
                }
            });
        });

        $('.changeTodo').on('click', (event) => {
            let todoId = $(event.currentTarget).parent().parent().data('todo-id');
            let todoDone = $(event.currentTarget).parent().parent().data('todo-done') == "1";
            $.ajax({
                url: '/todo/update-todo',
                type: 'patch',
                data: {id: todoId, status: !todoDone},
                success: () => {
                    refreshTodos();
                }
            });
        });

        $('.changePriority').on('click', (event) => {
            let todoId = $(event.currentTarget).parent().parent().data('todo-id');
            let todoPriority = parseInt($(event.currentTarget).parent().parent().data('todo-priority'));
            let newPriority = (todoPriority + 1) % 3;
            $.ajax({
                url: '/todo/update-todo-priority',
                type: 'patch',
                data: {id: todoId, priority: newPriority},
                success: () => {
                    refreshTodos();
                }
            });
        });

        $('.changeType').on('click', (event) => {
            let todoId = $(event.currentTarget).parent().parent().data('todo-id');
            let todoType = parseInt($(event.currentTarget).parent().parent().data('todo-type'));
            let newType = (todoType + 1) % 2;
            $.ajax({
                url: '/todo/update-todo-type',
                type: 'patch',
                data: {id: todoId, type: newType},
                success: () => {
                    refreshTodos();
                }
            });
        });

        $('.todo-link').on('click', ({currentTarget}) => {
            let todoId = $(currentTarget).parent().parent().parent().data('todo-id');
            console.log(todoMap[todoId]);
            openTodoEditor(todoId);
        })

        if (callback) callback();
    }

    function onLoadProjects(data, callback) {
        // reset
        projectMap = {};
        selectInput.html("");

        selectInput.append(`<option value='' ${data.selectedProject === undefined || data.selectedProject == -1 ? 'selected' : ''} disabled>Select a project</option>`);
        data.projects.forEach(project => {
            if (project.hidden) return;
            projectMap[project.id] = project;
            selectInput.append(`<option value='${project.id}' ${data.selectedProject == project.id ? 'selected' : ''}>${project.name}</option>`)

            if (data.selectedProject == project.id)
                activeProject = project.id;
        });

        if (projectMap.hasOwnProperty(data.selectedProject)) {
            selectedProjectText.text(projectMap[data.selectedProject].name);
        } else selectedProjectText.text("None");

        if (callback) callback();
    }

    function openTodoEditor(todoId) {
        $('#todoEditor').removeClass('yeet');
        $('#todoEditor-container').removeClass('yeet');
        todoEditor_todoId = todoId;
        let todo = todoMap[todoId];

        let todoTitle = renderMarkdown(unescape(todo.text), true);
        let todoDesc = renderMarkdown(unescape(todo.description) || "_No Description_");

        todoEditor_titleInput.val(unescape(todo.text));
        todoEditor_titleInput_rendered.html(todoTitle);
        todoEditor_descriptionInput.val(unescape(todo.description) || "_No Description_");
        todoEditor_descriptionInput_rendered.html(todoDesc);
    }

    function updateTodoTitle(todoTitle) {
        $.ajax({
            url: '/todo/update-todo-title',
            type: 'patch',
            data: {id: todoEditor_todoId, title: escape(todoTitle)},
            success: () => {
                refreshTodos();
            }
        });
    }
    function updateTodoDescription(todoDescription) {
        $.ajax({
            url: '/todo/update-todo-description',
            type: 'patch',
            data: {id: todoEditor_todoId, description: escape(todoDescription)},
            success: () => {
                refreshTodos();
            }
        });
    }
    function renderMarkdown(markdown, parseInline) {
        if(parseInline) return DOMPurify.sanitize(marked.parseInline(markdown));
        return DOMPurify.sanitize(marked(markdown));
    }
    function saveTodoChanges() {
        console.log("Saving!");
        let title = todoEditor_titleInput.val();
        let description = todoEditor_descriptionInput.val();
        console.log(title);
        console.log(description)

        if (title !== todoEditor_titleOld) {
            todoEditor_titleOld = title;
            updateTodoTitle(title);
        }

        if (description !== todoEditor_descriptionOld) {
            todoEditor_descriptionOld = description;
            updateTodoDescription(description)
        }
    }

</script>
</body>
</html>
